name: CI

on:
  push:
  pull_request:
  schedule:
    # Weekly Thursday 5AM build
    # * is a special character in YAML so you have to quote this string
    - cron: '0 5 * * 4'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: pip install docutils flake8 pytest pytest-cov --upgrade
    - name: Tests
      run: |
        flake8 *.py --count
        pytest --cov=./ --cov-report=xml
    - name: Upload coverage to codecov
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.5.2
      with:
        files: ./coverage.xml
        verbose: true
        token: ${{ secrets.CODECOV_TOKEN }}
